@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');
$blue: #0d3b66;
$yellow1: #faf0ca;
$yellow2: #f4d35e;
$orange1: #ee964b;
$orange2: #f95738;
$black: #130303;
$offWhite: #EFE7DA;

$header-font: 'Josefin Sans', sans-serif;
$text-font: 'Josefin Slab', serif;
